a {
	color: inherit;
}

body > #footer {
	background: #282828;

	-moz-box-shadow:    inset 0 0 25px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.75);
	box-shadow:         inset 0 0 25px rgba(0,0,0,0.75);

	clear: both;
	color: #FFF;
	height: 140px;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 1024px;
	position: relative;
	width: 75%;
	
	font-family: "Arial";
	font-size: 16px;
	
	-moz-box-shadow:    inset 0 0 75px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 0 75px rgba(0, 0, 0, 0.25);
	box-shadow:         inset 0 0 75px rgba(0, 0, 0, 0.25);
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#footer > div {
	padding: 30px;
}
