form#contact label {
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 9px;
}
form#contact .alert {
  display: inline-block;
  margin-left: 9px;
}
form#contact input {
  border: 1px solid #b8b8b8;
  display: block;
  margin: 0 0 9px;
  padding: 12px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form#contact textarea {
  border: 1px solid #b8b8b8;
  margin: 0 0 18px 0;
  padding: 12px;
  resize: vertical;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form#contact .error {
  border-color: #8d2121;
}
form#contact #sender-info {
  width: 50%;